*{
	padding: 0px;
	margin: 0px;
	box-sizing: border-box;
	text-decoration: none;
}

.clr::after{
	content:"";
	clear: both;
	display: block;
}


.container{
	margin: 0 auto;
	max-width: 500px;

	padding-top: 40px;
}

.firstdiv{
	width:100%;
	
}

.childone{
	width:30%;
	float: left;
}

.childtwo{
	width:70%;
	background-color: ;
	float: right;
}
.seconddiv{
	width:100%;
	margin:18px 0px 10px 0px;
	
}
.thirddiv{
	width:100%;
	background-color: #efefef;
	padding-top:10px;

}
.third1{
	width:50%;
	float: left;
	padding-left: ;
}

.third2{
	width:50%;
	float: right;
    text-align: left;
    padding-left: 80px;
}
.third1 p:nth-child(2){
	margin:5px 0px 10px 0px;
}
.fourth{
	margin-top: 15px;
	width:100%;
}
.fifth{
	width: 100%;
}
.fifth11{
	width: 30%;
	float: left;
}
.fifth12{
	width: 40%;
	float: left;
}
.fifth13{
	width: 30%;
	float: right;
}
.fifth13 p{
	padding: 45px 0px 0px 0px;
	text-align: right;
}
.fifth21{
	width: 30%;
	float: left;
}
.fifth22{
	width: 40%;
	float: left;
}
.fifth23{
	width: 30%;
	float: right;
	padding: 45px 0px 0px 0px;
	text-align: right;
}
.sixth{
	width: 100%;
		padding-top: 10px;
}

.sixth1{
	width: 70%;
	float: left;
	text-align: right;

}
.sixth2{
	width: 30%;
	float: right;
		text-align: right;
}
.eight1{
	width: 33.33%;
	float: left;
}
.eight2{
	width: 33.33%;
	float: right;
}
.eight3{
	width: 33.33%;
	float: right;
}